:root {
    /* Fuentes */
    --font-main: "Segoe UI", sans-serif;
    --font-secondary: Tahoma, Geneva, Verdana, sans-serif;
    /* Tamaños de elementos */
    --header-height: 50px;
    --footer-height: 100px;

    --color-red: hsl(0, 100%, 15%);
    --color-red-2: hsl(0, 100%, 30%);
    --color-red-3: hsl(0, 100%, 45%);
    --color-green: hsl(125, 100%, 15%);
    --color-dark: hsl(0, 0%, 10%);
    --color-dark-2: hsl(0, 0%, 20%);
    --color-dark-3: hsl(0, 0%, 30%);
    --color-light: hsl(0, 0%, 90%);
    --color-light-2: hsl(0, 0%, 80%);
    --color-light-3: hsl(0, 0%, 70%);
}

body {
    margin: 0;
    font-family: var(--font-main);
}

header {
    height: var(--header-height);
    background-color: var(--color-red);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    user-select: none;

    .left {
        .logo {
            height: calc(var(--header-height) - 10px);
            margin-top: 4px;
            margin-left: 10px;
            transition: ease-out 0.15s;

            &:hover {
                transform: rotate(1deg) scale(105%);
            }
        }
    }

    .center {
        /* Vacío */
    }

    .right {
        display: flex;
        flex-direction: row;

        a {
            width: 100px;
            height: 100%;
            color: white;
            text-decoration: none;
            text-align: center;
            transition: ease-out 0.15s;
            position: relative;
            background-color: var(--colr-red);
            z-index: 1;

            span {
                line-height: var(--header-height);
            }

            &:hover {
                background-color: var(--color-red-2);
                transform: translateY(-3px);
            }
        }

        a:hover::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            background: var(--color-red-3);
            width: 100%;
            height: 3px;
            z-index: -1;
            transform: translateY(3px);
        }
    }
}

main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    min-height: max-content;
}

footer {
    height: var(--footer-height);
    background-color: var(--color-red);

    display: flex;
    flex-direction: row;

    .center {
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: .8em;

        span:first-child {
            color: var(--color-light);
        }
        span:last-child {
            color: var(--color-light-3);
        }
    }
}