main {
    height: calc(100vh - var(--header-height) - var(--footer-height));
    min-height: max-content;
    overflow-x: hidden;
    color: var(--color-light);

    .banner {
        border: black 6px solid;
        width: 100vw;
        height: 400px;
        background-color: black;
        user-select: none;
        position: relative;

        .title {
            z-index: 1;
            position: absolute;
            padding: 23px 50px;
            background: linear-gradient(to right, black, rgba(0, 0, 0, 0));
            left: 0px;
            top: 0px;
            margin: 0;

            * {
                line-height: 0px;
                text-transform: uppercase;
                color: var(--color-red-3);
                text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
            }

            h2 {
                font-size: 7rem;
            }

            h1 {
                font-size: 9rem;
                line-height: 70px;
            }
        }

        .carousel {
            width: 100vw;
            height: 400px;
            overflow-y: hidden;
            overflow-x: auto;
            display: flex;

            .wrapper {
                display: flex;
                flex-direction: row;
                animation: scroll 15s infinite linear;

                .carousel-element {
                    min-height: 400px;
                    width: auto;
                    flex: 0 0 1em;
                    border-right: black 5px solid;
                    filter: brightness(50%);
                    transition: ease-out 0.15s;

                    &:hover {
                        filter: brightness(80%);
                        transform: translateY(-10px);
                    }

                    img {
                        width: inherit;
                        height: inherit;
                    }
                }
            }

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .content {
        height: inherit;
        min-height: max-content;
        overflow: hidden;
        position: relative;

        #content-background {
            position: absolute;
            object-fit: cover;
            z-index: -1;
            filter: brightness(20%);
        }

        form {
            height: 100%;
            display: grid;
            grid-template-columns: 60% auto;

            .left {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .card {
                    background-color: var(--color-dark-2);
                    width: max-content;
                    margin: auto;
                    padding: 50px;
                    border-radius: 5px;
                    box-shadow: 0 10px 50px black, 0 2px 2px grey inset;

                    display: flex;
                    flex-direction: column;
                    gap: 0px;

                    h1 {
                        margin: 0 20px 30px 20px;
                    }

                    div {
                        margin: 20px 0;
                        display: flex;
                        flex-direction: column;

                        label,
                        .label {
                            margin-bottom: 10px;
                            color: hsl(0, 0%, 70%);
                        }

                        select {
                            padding: 15px 5px;
                            font-size: 1rem;
                            background-color: hsl(0, 0%, 15%);
                            color: white;
                            border: none;
                            border-radius: 10px;
                        }

                        .time {
                            font-family: "Consolas";
                            text-align: center;
                            font-size: 4rem;
                            margin-top: 10px;
                            background-color: hsl(0, 0%, 15%);
                            padding: 10px;
                            border-radius: 10px;
                            text-shadow: 0 0 5px black;
                        }
                    }
                }
            }

            .right {
                user-select: none;
                position: relative;
                background: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(11, 11, 11));
                width: 100%;
                height: 100%;

                span {
                    position: absolute;
                    font-size: 2rem;
                    right: 50px;
                    top: 50%;
                    transform: translate(0, -50%);
                    transition: cubic-bezier(.26, .52, .48, .85) 0.2s;
                    opacity: 50%;
                    font-weight: bold;
                }

                &:hover {
                    cursor: pointer;

                    span {
                        transform: translate(-15px, -50%);
                        opacity: 100%;
                        text-shadow: 0 0 5px black;
                    }
                }
            }
        }
    }
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}